<!DOCTYPE html>
<html lang="en" ng-app="devMtIn">

<head>
  <link href='https://fonts.googleapis.com/css?family=Raleway:400,500,700,600' rel='stylesheet' type='text/css'>
  <link rel="stylesheet" href="css/styles3.css">
	<meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1"> 
	<title>DevMtin</title>
</head>

<body ng-controller="homeCtrl">
	<div class="l-header">
		<h1>{{myProfile.name || "Your name"}}</h1>
	</div>
  
  <div class="wrapper">  
    <div>
      <h2>Profile</h2>
      <button class="l-btn l-btn-main" ng-click="editing = !editing"><span ng-show="editing">Editing:</span><span ng-hide="editing">Click to edit</span></button>
    </div>

    <div>      
      <div id="madeUp">{{myProfile._id}}</div>
      <input id="name" type="text" placeholder="Your Name" ng-model="myProfile.name" ng-disabled="!editing">
      <br />

      <input id="likes" type="text" placeholder="Likes" ng-model="myProfile.likes" ng-disabled="!editing">
      <br />

      <input id="favColor" type="text" placeholder="Favorite Color" ng-model="myProfile.favColor" ng-disabled="!editing">
      <br />
      <button class="l-btn l-btn-success" ng-click="saveProfile(myProfile)" ng-disabled="!editing">Save</button>
      <button class="l-btn l-btn-danger" ng-click="deleteProfile(myProfile)" ng-disabled="!editing">Delete</button>
    </div>
  </div>

  <div class="l-container">
    <h2>Friends</h2>

    <button class="l-btn l-btn-main" ng-click="findFriends(potentialFriendName)">Go</button>
    <input type="text" placeholder="Find Friends" ng-model="potentialFriendName">    
    <select ng-model="sortReverse" ng-options="option.value as option.display for option in sortOptions"></select>
    <div class="friendList" ng-repeat="friend in myProfile.friends | filter: findFriends.name | orderBy: 'name' : sortReverse">
      <span class="closeBtn" ng-click="removeFriend(friend._id)"></span>
        <div>&nbsp&nbsp&nbsp{{friend.name}}</div>
      <br />
      <div class="secondConnection friendList">
        My Second Connections
      </div>
    </div>
  </div>
  
	<div id="myModalMask">
		<div id="myModal">
			<div>
				<div class="modalTitle">
				<span class="closeBtn"></span>
					Add Friends

				</div>
					<br />
				<div class="friendList" ng-repeat="potentialFriend in potentialFriends">
          <button ng-click="addFriend(potentialFriend._id)">Add Friend</button>
					<span class="friend">
              {{potentialFriend.name}}
          </span>
				</div>
			</div>
		</div>
	</div>

  
  <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.5.0-rc.0/angular.js"></script>
  <script src='js/app.js'></script>
  <script src='js/homeCtrl.js'></script>
  <script src='js/profileServices.js'></script>
  <script src='js/friendServices.js'></script>
</body>

</html>
